/* This example prepaired for 12 columns */
/* 1. Common styles */

html, body {
    margin: 0 auto;
    font-family: 'Geometria';
    font-size: 18px;
    color: rgb(256,256,256);
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1900px;
    position: relative;
}

#third-item {
    width: 10px;
}

.dark-background-layer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .95);
    display: none;
    height: 100%;
    z-index: 10001;
}

.black-styled-close-button {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.burger-menu-pop-up {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    display: flex;
    z-index: 1000;
    background: #c9c9c9;

    #map {
        position: absolute;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
    }
    
    #contacts-burger-menu-pop-up {
        position: absolute;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background: rgb(256, 256, 256);
        color: rgb(0, 0, 0);

        h1 {
            font-size: 3.5rem;
            font-family: "Geometria-Bold";
            text-align: center;
            margin-bottom: 100px;
        }

        .main-contact-telephones {
            box-sizing: border-box;
            padding: 5% 0;
            text-align: center;

            h4 {
                font-size: 2rem;
                margin-bottom: 50px;
                color: rgb(0, 0, 0);
            }

            div {
                margin-bottom: 40px;
                box-sizing: border-box;
                font-size: 1.5rem;

                a {
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }
            }
        }

        .main-contact-adress {
            box-sizing: border-box;
            padding: 5% 0;
            text-align: center;

            h4 {
                font-size: 2rem;
                margin-bottom: 40px;
                color: rgb(0, 0, 0);
            }

            div {
                margin-bottom: 40px;
                box-sizing: border-box;
                font-size: 1.5rem;
            }
        }
    }
}

.pop-up-clients-profile {
    box-sizing: border-box;
    position: fixed;
    top: 145px;
    left: 24.5%;
    right: 24.5%;
    height: 575px;
    bottom: 190px;
    background: rgb(256, 256, 256);
    color: rgb(0, 0, 0);
    z-index: 100000;

    #pop-up-clients-profile-header-wrapper {
        #pop-up-clients-profile-h1 {
            box-sizing: border-box;
            font-family: 'Geometria-Bold';
            font-size: 4rem;
            padding: 50px 0 50px 50px;
        }

        .close-clients-profile-pop-up {
            position: absolute;
            width: 60px;
            height: 60px;
            background: url('../img/about_project_close_icon.svg') no-repeat center;
            left: calc(~"100% - 120px");
            top: 50px;
            box-sizing: border-box;
            cursor: pointer;
        }
    }

    .clients-profile-auth-descr {
        padding-left: 55px;
        font-size: 1.1rem;
        font-family: "Geometria";
        padding-bottom: 40px;
    }

    .pop-up-profile-items {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        padding-left: 55px;

        .pop-up-profile-item {
            box-sizing: border-box;
            width: calc(~"100% / 12 * 5");
            display: flex;
            margin-bottom: 40px;
            
            img {
                margin-right: 25px;
            }

            p {
                font-family: "Kundera";
                font-size: .875rem;
                width: 230px;
                padding-top: 10px;
            }
        }
    }

    .pop-up-profile-paiment {
        box-sizing: border-box;
        padding-left: 55px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 100px;
        
        .pop-up-profile-message {
            margin-right: 17%;

            p {
                background: rgb(220, 220, 220);
                color: rgb(256, 256, 256);
                padding: 25px 38px;
                font-family: "Kundera";
                font-size: .875rem;
            }
        }

        .pop-up-profile-paiment-types {
            p {
                color: rgb(220, 220, 220);
                font-family: "Kundera";
                font-size: .875rem;
            }

            .pop-up-profile-paiment-icons {
                box-sizing: border-box;
                display: flex;
                margin-top: 15px;

                .visa {
                    width: 55px;
                    height: 20px;
                    margin-right: 15px;
                }

                .mastercard {
                    width: 32px;
                    height: 20px;
                }
            }
        }
    }
}

/* 2. Promo block styles */
/* 2.1 Styles for header area */

.wrap {
    margin: 20px 20px 0 20px;
    box-sizing: border-box;
    background: url('../img/promo2.jpg') center center no-repeat;
    background-size: cover;
    max-height: 900px;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: calc(~"100% - 120px");
    margin: 40px 60px 0 60px;
}

.header-justify {
    box-sizing: border-box;
    display: flex;
    width: calc(~"100% / 12 * 4");
}

.logo {
    box-sizing: border-box;
}

.languages {
    margin-top: 4px;
    display: flex;
    box-sizing: border-box;
    margin-left: 15%;
}

.languages a {
    text-decoration: none;
    color: rgb(256,256,256);
    line-height: 70px;
    text-transform: uppercase;
    font-size: 0.7222rem;
    box-sizing: border-box;
    font-family: 'Geometria-Bold';
    padding-right: 30%;
}

.log-in {
    width: calc(~"100% / 12 * 4");
    box-sizing: border-box;
    position: relative;
}

#log-in-link {
    font-family: 'Kundera';
    text-decoration: none;
    color: rgb(256,256,256);
    font-size: 0.9444rem;
    box-sizing: border-box;
    line-height: 70px;
    background-color: #0e3284;
    position: absolute;
    display: block;
    width: 190px;
    padding-left: 27px;
    right: 0;
    cursor: pointer;
}

.log-in-icon {
    background: url('../img/icon_door.svg') no-repeat center;
    position: absolute;
    width: 14px;
    height: 24px;
    top: 24px;
    left: 147px;
}

#log-in-link div {
    margin-left: 21px;
    box-sizing: border-box;
}

.wrap-burger-menu {
    height: 74px;
    box-sizing: border-box;
    width: calc(~"100% / 12 * 4");
}

.burger-menu-container {
    box-sizing: border-box;
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 50%;
    cursor: pointer;
    z-index: 10000;
}

.burger-menu-lines {
    width: 40px;
    height: 1px;
    margin-top: 50%;
    background: rgb(256, 256, 256);
    transition: .5s;
    box-sizing: border-box;
    position: absolute;
}

.burger-menu-lines-blacked {
    width: 40px;
    height: 1px;
    margin-top: 50%;
    background: rgb(0, 0, 0);
    transition: .5s;
    box-sizing: border-box;
    position: absolute;
}

.burger-menu-lines::before,
.burger-menu-lines::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    background: rgb(256, 256, 256);
    transition: .5s;
}

.burger-menu-lines-blacked::before,
.burger-menu-lines-blacked::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    background: rgb(0, 0, 0);
    transition: .5s;
    z-index: 10000;
}

.burger-menu-lines::before,
.burger-menu-lines-blacked::before {
    top: -11px;
}

.burger-menu-lines::after,
.burger-menu-lines-blacked::after {
    top: 11px;
}

.burger-menu-container.active-burger-pop-up .burger-menu-lines,
.burger-menu-container.active-burger-pop-up .burger-menu-lines-blacked {
    background: rgba(0,0,0,0);
}

.burger-menu-container.active-burger-pop-up .burger-menu-lines::before,
.burger-menu-container.active-burger-pop-up .burger-menu-lines-blacked::before {
    transform: rotate(45deg);
    top: 0;
}

.burger-menu-container.active-burger-pop-up .burger-menu-lines::after,
.burger-menu-container.active-burger-pop-up .burger-menu-lines::after {
    transform: rotate(135deg);
    top: 0;
}

/* 2.2 Main info styles */

.promo-block {
    background: rgba(0,0,0,0.35);
    max-height: 900px;
}

.promo-block h1 {
    font-size: 3.889rem;
    line-height: 80px;
    font-family: 'Geometria-Bold';
    margin-left: 49.5%;
    padding-top: 17%;
    width: 30%;
    box-sizing: border-box;
}

.promo-block p {
    font-size: 1.333rem;
    margin-left: 49.8%;
    margin-top: 3%;
}

/* 2.3 Scroll area style */

.scroll-arrow {
    margin-left: calc(~"50% - 7px");
    box-sizing: border-box;
}

.scroll-arrow img {
    width: 7px;
    height: 21px;
    padding-top: 22%;
    padding-bottom: 38px;
    cursor: pointer;
}

/* 3. Items section */

.wrap-items-main {
    padding: 20px;
    box-sizing: border-box;
    max-height: 600px;
    display: flex;

}

.item-main,
.pop-up-services-holder {
    box-sizing: border-box;
    position: relative;
}

.item-main {
    .pop-up-managment,
    .pop-up-marketing {
        box-sizing: border-box;
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        background: rgb(256, 256, 256);
        color: rgb(0, 0, 0);
        box-shadow: 0px 40px 107px 3px rgba(0,0,0,0.3);
        z-index: 10000;

        #pop-up-managment-header-wrapper,
        #pop-up-marketing-header-wrapper {
            box-sizing: border-box;
            padding: 25px 0 10px 30px;
            position: relative;

            #pop-up-managment-h1,
            #pop-up-marketing-h1 {
                box-sizing: border-box;
                font-family: 'Geometria-Bold';
                font-size: 3rem;
            }

            .close-marketing-pop-up,
            .close-managment-pop-up {
                position: absolute;
                width: 60px;
                height: 60px;
                background: url('../img/about_project_close_icon.svg') no-repeat center;
                left: calc(~"100% - 90px");
                top: 30px;
                right: 7%;
                box-sizing: border-box;
                cursor: pointer;
            }
        }

        .main-contact-telephones {
            box-sizing: border-box;
            padding: 5% 0 2.5% 30px;

            h4 {
                font-size: 1.333rem;
                margin-bottom: 30px;
                color: #0e3284;
            }

            div {
                margin-left: 20px;
                margin-bottom: 10px;
                box-sizing: border-box;

                span {
                    margin-right: 10px;
                }

                a {
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }
            }
        }

        .main-contact-adress {
            box-sizing: border-box;
            padding: 2.5% 0 2.5% 30px;

            h4 {
                font-size: 1.333rem;
                margin-bottom: 30px;
                color: #0e3284;
            }

            div {
                margin-left: 20px;
            }
        }
    }
}

.not-visible {
    display: none;
}

.management {
    background: url('../img/management.png') center center no-repeat;
    background-size: cover;
    margin-right: 0.6%;
    width: calc(~"100% / 12 * 6");
    box-sizing: border-box;
    padding-top: 30.4%;
    min-height: 200px;
}

.marketing {
    background: url('../img/marketing.png') center center no-repeat;
    background-size: cover;
    margin-left: 0.6%;
    width: calc(~"100% / 12 * 6");
    box-sizing: border-box;
    padding-top: 30.4%;
    min-height: 200px;
}

#gear-icon,
#chess-icon,
.item-main-info {
    position: absolute;
}

#gear-icon {
    right: -69px;
    top: -69px;
    z-index: 10;
    width: 140px;
    height: 140px;
}

#chess-icon {
    right: -35px;
    top: -69px;
    z-index: 10;
    width: 70px;
    height: 140px;
}

.item-main-info {
    padding: 4% 5% 0 6.5%;
    box-sizing: border-box;
    background: rgb(20,20,20);
    width: 61.7%;
    bottom: -40px;
    left: 4.5%;
    z-index: 1;
    box-shadow: 0px 40px 107px 3px rgba(0,0,0,0.3);
    height: 240px;
}

#managment-control,
#marketing-control {
    text-decoration: none;
    color: rgb(256,256,256);
    font-family: 'Geometria-Bold';
    font-size: 1.333rem;
    line-height: 50px;
    margin-bottom: 21px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

#managment-control::after,
#marketing-control::after {
    position: absolute;
    content: '';
    display: block;
    border-bottom: 1px solid rgb(256,256,256);
    top: 92%;
    left: 0;
    width: 100%;
}

.main-info-descr {
    font-family: 'Kundera';
    font-size: 0.9444rem;
    display: block;
    line-height: 25px;
    box-sizing: border-box;
}

/* 4. About company section styles */
.bg-logo {
    margin-top: 120px;
    box-sizing: border-box;
    width: 100%;
}

#anim-logo {
    position: absolute;
    top: 0;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 780.5px;
}

.bg-logo h2 {
    font-size: 2.222rem;
    font-family: 'Geometria-Bold';
    color: rgb(0,0,0);
    padding: 5% 25% 0 25%;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
}

.about-company {
    margin-top: 5.5%;
    padding-bottom: 11%;
    box-sizing: border-box;
    padding-left: 835px;
    padding-right: 835px;
    width: 100%; 
}

.about-company a {
    font-family: 'Kundera';
    font-size: 0.9444rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    color: rgb(0,0,0);
    box-sizing: border-box;
    line-height: 70px;
    border: 1px solid rgb(0,0,0);
    background: rgb(256,256,256);
    display: block;
}

.side-arrow-icon {
    position: absolute;
    background: url('../img/side_arrow_icon.svg') no-repeat center;
    width: 41px;
    height: 7px;
    top: 45%;
    right: -22px;
}

/* 5. About project section styles */
.wrap-slider-one {
    box-sizing: border-box;
    margin: 0 0 5% 0;
    position: relative;
}

.slider-btns {
    box-sizing: border-box;
    position: relative;
}

.bg-about-project {
    margin: 0 1px;
    padding-bottom: 100px;
    position: relative;
    box-sizing: border-box;
    min-height: 700px;
}

.bg-about-project-image1 {
    background: url('../img/7th_Heaven_Slider.png') no-repeat top center;
    background-size: cover;
}

.bg-about-project-image2 {
    background: url('../img/batumi_palace.jpg') no-repeat top center;
    background-size: cover;
}

.bg-about-project-image3 {
    background: url('../img/apartments_main_img.jpg') no-repeat top center;
    background-size: cover;
}

.bg-about-project-image4 {
    background: url('../img/alley_palace.png') no-repeat top center;
    background-size: cover;
}

.bg-about-project h1 {
    font-family: 'Geometria-Bold';
    font-size: 3.889rem;
    line-height: 80px;
    padding-left: 49.8%;
    padding-top: 20.5%;
    width: 90%;
    box-sizing: border-box;
    padding-bottom: 20%;
}

.about-project {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 53%;
    width: 220px;
}

.about-project a {
    font-family: 'Kundera';
    font-size: 0.9444rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    color: rgb(256,256,256);
    box-sizing: border-box;
    line-height: 70px;
    display: block;
    border: 1px solid rgb(14, 50, 132);
    background: rgb(14, 50, 132);
}

.about-project-icon {
    box-sizing: border-box;
    position: absolute;
    background: url('../img/about_project_arrow.svg') no-repeat center;
    width: 41px;
    height: 7px;
    top: 45%;
    right: -22px;
}

.about-project-next {
    background: url('../img/next_icon.svg') no-repeat center;
    top: 80%;
    left: 13.5%;
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 10;
}

.about-project-prev {
    background: url('../img/prev_icon.svg') no-repeat center;
    top: 80%;
    left: 9.3%;
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 10;
}

/* About project pop-up styles */

#about-project-pop-up {
    position: absolute;
    background: rgb(256,256,256);
    top: 53px;
    right: 53px;
    width: 51%;
    box-sizing: border-box;
    z-index: 10000;
}

#about-project-pop-up h1 {
    font-family: 'Geometria-Bold';
    font-size: 4.611rem;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 5% 20% 0 6%;
    box-sizing: border-box;
    position: relative;
}

.pop-up-close-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('../img/about_project_close_icon.svg') no-repeat center;
    top: 53px;
    right: 7%;
    box-sizing: border-box;
    cursor: pointer;
}

#about-project-pop-up span {
    font-family: 'Geometria';
    font-size: 1.333rem;
    color: rgb(0, 0, 0);
    margin: 5% 0 0 6.5%;
    width: 57%;
    display: block;
    box-sizing: border-box;
}

#pop-up-btns {
    box-sizing: border-box;
    display: flex;
}

#pop-up-project-btn,
#pop-up-account-btn {
    padding-left: 6.5%;
    margin-top: 31%;
    padding-bottom: 8%;
    box-sizing: border-box; 
    position: relative;
}

#pop-up-account-btn {
    padding-left: 2%;
}

#pop-up-project-btn a {
    font-family: 'Kundera';
    font-size: 0.9444rem;
    position: relative;
    text-decoration: none;
    color: rgb(256,256,256);
    box-sizing: border-box;
    line-height: 70px;
    padding: 24px 66px 25px 28px;
    background: #0e3284;
    border: 1px solid #0e3284;
}

#pop-up-account-btn a {
    font-family: 'Kundera';
    font-size: 0.9444rem;
    position: relative;
    text-decoration: none;
    color: rgb(0,0,0);
    box-sizing: border-box;
    line-height: 70px;
    padding: 24px 60px 25px 60px;
    border: 1px solid rgb(0,0,0);
    background: rgb(256,256,256);
}

#pop-up-project-btn::after {
    content: '';
    display: block;
    position: absolute;
    background: url('../img/project_site_icon.svg') no-repeat center;
    width: 20px;
    height: 20px;
    top: 23px;
    right: 30px;
    box-sizing: border-box;
}

#pop-up-account-btn::after {
    content: '';
    display: block;
    position: absolute;
    background: url('../img/side_arrow_icon.svg') no-repeat center;
    width: 40px;
    height: 20px;
    top: 23px;
    right: -22px;
    box-sizing: border-box;
}

/* 6. Slider section styles */
.orange-line {
    border-top: 1px solid hsl(37, 91%, 59%);
    max-height: 545px;
    overflow: hidden;
}

.black-rectangle {
    max-height: 300px;
    background: rgb(20,20,20);
    padding-top: 63px;
    padding-left: 60px;
    box-sizing: border-box;
    margin-top: 60px;
    box-shadow: 0 40px 107px 3px rgba(0,0,0,.3);
    position: relative;
    margin-bottom: 24%;
    margin-left: 6%;
}

.link-container {
    height: 165px;
    width: 82%;
}

.black-rectangle a {
    font-family: 'Geometria-Bold';
    line-height: 35px;
    font-size: 1.333rem;
    color: rgb(256,256,256);
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid rgb(256,256,256);
}

.vertical-line {
    position: absolute;
    height: 62px;
    border-left: 1px solid rgb(246, 173, 53);
    top: -82px;
}

.current-date {
    display: block;
    line-height: 25px;
    font-size: 0.9444rem;
    font-family: 'Kundera';
    color: rgb(246, 173, 53);
    padding-bottom: 10%;
    box-sizing: border-box;
}

/* 7. Contacts section styles */
.wrap-contacts {
    box-sizing: border-box;
    margin: 0 20px;
    z-index: 1000;
    align-self: center;
    display: flex;
    position: relative;
}

.contacts {
    margin: 0 auto;
}

.contacts h2 {
    font-size: 2.222rem;
    font-family: 'Geometria-Bold';
    color: rgb(0,0,0);
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 9%;
}

.email-link,
.tel-link {
    text-decoration: none;
    font-size: 2.222rem;
    font-family: 'Geometria-Bold';
    color: rgb(0,0,0);
    text-align: center;
    line-height: 15px;
    box-sizing: border-box;
    display: block;
}

.email-link {
    margin-top: 8.5%;
}

.tel-link {
    padding-top: 20px;
}

.email-link span,
.tel-link span {
    border-bottom: 2px solid rgb(0,0,0);
}

.contacts h2::after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 60px;
    height: 4px;
    background: rgb(220, 220, 220);
    bottom: 0;
    left: calc(~"50% - 30px");
}

.write-us {
    box-sizing: border-box;
    padding: 15% 200px 16% 200px;
    width: 100%;
}

.write-us a {
    font-family: 'Kundera';
    font-size: .9444rem;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    line-height: 70px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    display: block;
}

.write-us-icon {
    box-sizing: border-box;
    position: absolute;
    background: url('../img/side_arrow_icon.svg') no-repeat center;
    width: 41px;
    height: 7px;
    top: 45%;
    right: -22px;
}

/* 8. Footer styles */

footer {
    font-family: 'Kundera';
    font-size: 0.9444rem;
    color: rgb(0,0,0);
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 2% 60px;
    border-top: 1px solid rgb(220, 220, 220);
}

.copyright,
.rights {
    line-height: 33px;
    width: calc(~"100% / 12 * 4");
    box-sizing: border-box;
}

.rights {
    text-align: center;
}

.iters {
    font-size: 0.7778rem;
    width: calc(~"100% / 12 * 4");
    box-sizing: border-box;
}

.iters a {
    color: rgb(0,0,0);
}

.iters-span {
    width: 130px;
    display: block;
    margin-left: calc(~"100% - 130px");
}

.iters-span p {
    text-align: end;
    line-height: 16px;
}

.iters-first-p {
    position: relative;
}

.iters-second-p {
    padding-right: 20px;
}

.iters-first-p::after {
    content: '';
    display: block;
    background: url('../img/iters_icon.svg') no-repeat top center;
    width: 35px;
    height: 35px;
    right: 105px;
    top: 10%;
    position: absolute;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Geometria.otf')  format('opentype'),
    url('../fonts/Geometria.woff') format('woff'), 
    url('../fonts/Geometria.ttf')  format('truetype'), 
    url('../fonts/Geometria.svg#Geometria') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Geometria-Bold.otf')  format('opentype'),
    url('../fonts/Geometria-Bold.woff') format('woff'), 
    url('../fonts/Geometria-Bold.ttf')  format('truetype'), 
    url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kundera';
    src: url('../fonts/Kundera.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Kundera.woff') format('woff'), 
    url('../fonts/Kundera.ttf')  format('truetype'), 
    url('../fonts/Kundera.svg#Kundera') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Media queries for adaptive */
@media screen and (max-width: 319px) {
    .burger-menu-pop-up {
        #contacts-burger-menu-pop-up { 
            h1 {
                margin: 15px 0 5px 0 !important;
            }
    
            .main-contact-telephones {
                display: block !important;
    
                div {
                    span {
                        display: inline !important;
                    }
                }
            }
        }
    }

    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            
            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 15px 0 0px 20px;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 1.8rem;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 20px;
                    height: 20px;
                    top: 22px;
                    left: calc(~"100% - 37px");
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    margin-bottom: 7px;
                    font-size: 0.875rem !important;
                }
            }

            .main-contact-adress {
                padding: 1% 0 2.5% 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    font-size: 0.875rem !important;
                }
            }
        }
    }

    .pop-up-clients-profile {
        left: 5%;
        right: 5%;
        top: 10px;
        height: 790px !important;
        z-index: 10000;

        #pop-up-clients-profile-header-wrapper {
            #pop-up-clients-profile-h1 {
                font-size: 1.7rem !important;
                padding: 48px 0 0px 0px;
                text-align: center;
            }

            .close-clients-profile-pop-up {
                width: 20px;
                height: 20px;
                left: calc(~"100% - 42px");
                top: 22px;
            }
        }

        .clients-profile-auth-descr {
            padding: 10px 20px 20px 20px;
            font-size: 1rem;
            text-align: center;
        }

        .pop-up-profile-items {
            padding-left: 0px;
            justify-content: space-around;
            text-align: center;

            .pop-up-profile-item {
                margin-bottom: 25px;
                width: 100%;
                display: block;

                p {
                    font-size: .75rem;
                    width: 100%;
                }
            }
        }

        .pop-up-profile-paiment {
            padding-left: 0px;
            margin-top: 0px;
            justify-content: center;
            display: block;

            .pop-up-profile-message {
                margin-bottom: 35px !important;
                margin-right: 0 !important;
                text-align: center;
                width: 200px !important;
                margin-left: calc(~"50% - 100px");

                p {
                    font-size: .7rem !important;
                }
            }

            p {
                text-align: center !important;
            }

            .pop-up-profile-paiment-types {
                .pop-up-profile-paiment-icons {
                    width: 100% !important;
                    margin-left: calc(~"50% - 52.5px") !important;
                    margin-top: 5px;
                }
            }
        }
    }

    .wrap {
        margin: 10px 10px 0 10px;
    }

    .header {
        width: calc(~"100% - 60px");
        margin: 5% 30px 0 30px;
    }

    .logo {
        margin-top: 0;
    }
    
    .logo img {
        height: calc(~"6.03vw + 15.704px");
    }

    #log-in-link {
        font-size: 0;
        width: calc(~"6.03vw + 17.704px");
        height: calc(~"6.03vw + 15.704px");
    }

    .log-in-icon {
        transform: scale(0.8);
        top: calc(~"2.93vw - 3.376px");
        left: calc(~"2.93vw + 1.624px");
    }

    .languages {
        margin-top: 0;
    }

    .languages a {
        font-size: 12px;
        line-height: 10px;
        padding-top: 20%;
    }

    .wrap-burger-menu {
        left: calc(~"51vw - 35.44px");
    }

    .burger-menu-container {
        margin-top: 0px;
    }

    .burger-menu-lines {
        width: calc(~"3.27vw + 10.536px");
    }

    .burger-menu-lines::before {
        top: calc(~"-0.5vw - 6.16px");
        width: calc(~"3.27vw + 10.536px");
    }

    .burger-menu-lines::after {
        top: calc(~"0.5vw + 6.16px");
        width: calc(~"3.27vw + 10.536px");
    }

    .promo-block h1 {
        margin-left: 19%;
        padding-top: 30%;
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 50px;
    }

    .wrap-slider-one {
        margin: 0 0 5% 0;
    }

    .about-project {
        left: 51%;
    }

    .bg-about-project h1 {
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 32px;
        padding-left: 15%;
        padding-top: 35%;
        padding-bottom: 45%;
    }

    .promo-block p {
        margin-left: 19%;
        font-size: calc(6vw - 2rem);
    }

    .wrap-items-main {
        flex-wrap: wrap;
        padding: 10px 10px 0 10px;
    }

    .management,
    .marketing {
        width: 100%;
        margin: 0 0 10% 0;
    }

    #gear-icon, 
    #chess-icon {
        transform: scale(.5);
    }

    .item-main {
        box-sizing: border-box;
    }

    .item-main-info {
        width: 80%;
        height: calc(~"7.59vw + 95.712px");
        bottom: calc(~"-1.26vw - 15.968px");
    }

    #managment-control,
    #marketing-control {
        font-size: calc(~"0.696vw + 10.7728px");
    }

    .main-info-descr {
        font-size: calc(~"0.44vw + 8.592px");
        line-height: calc(~"95% + 2vw - 1.6px");
    }

    .about-company {
        padding-left: calc(~"45.8vw - 36.56px");
        padding-right: calc(~"45.8vw - 36.56px");
    }

    .about-project a,
    .about-company a,
    .write-us a {
        height: 33px;
        padding-top: 7px;
        line-height: 18px;
        font-size: calc(~"0.44vw + 8.592px");
    }

    .bg-logo {
        margin-top: calc(~"5.69vw - 11.792px");
    }

    #anim-logo {
        top: -231px;
        transform: scale(.8);
    }

    .bg-logo h2 {
        font-size: calc(~"1.45vw + 12.36px");
        padding: 5% 25px 0 25px;
        line-height: calc(~"140% + 1.58vw - 5.056px");
    }

    .side-arrow-icon,
    .about-project-icon,
    .write-us-icon {
        transform: scale(.5);
    }

    .about-project {
        width: 100px;
        height: 33px;
        left: 52%;
    }

    .about-project-next,
    .about-project-prev {
        width: 33px;
        height: 33px;
        left: 7.3%;
        border: 1px solid rgb(256,256,256);
        box-sizing: border-box;
    }

    .about-project-next {
        left: 19%;
    }

    #about-project-pop-up {
        top: 10px;
        right: 10px;
        width: 95%;
    }

    #about-project-pop-up h1 {
        font-size: calc(~"3.8vw + 9.84px");
    }

    .pop-up-close-icon {
        right: calc(~"3.6vw - 4.52px");
        top: calc(~"3.7vw - 17.84px");
        width: calc(~"2.5vw + 12px");
    }

    #about-project-pop-up span {
        width: 90%;
        font-size: calc(~"0.5vw + 12.4px");
    }

    #pop-up-project-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 16px 35px 17px 7px;
    }

    #pop-up-project-btn::after {
        top: 23px;
        right: 9px;
    }

    #pop-up-account-btn::after {
        transform: scale(.6);
    }

    #pop-up-account-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 16px 30px 17px 30px;
    }

    #pop-up-account-btn, 
    #pop-up-project-btn {
        margin-top: 5%;
        padding-bottom: 0;
    }

    .black-rectangle {
        padding-top: calc(~"2.4vw + 17.32px");
        padding-left: calc(~"1.58vw + 29.944px");
    }

    .black-rectangle a {
        font-size: calc(~"0.5vw + 14.4px");
        line-height: calc(~"140% + 0.6vw - 1.92px");
    }

    .current-date {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .wrap-contacts {
        margin-top: calc(~"16vw - 246.2px");
    }

    .contacts h2,
    .email-link,
    .tel-link {
        font-size: calc(~"1.3vw + 13.84px");
        line-height: calc(~"140% + 1.5vw - 4.8px");
    }

    .write-us {
        padding-left: calc(~"7vw + 66.6px");
        padding-right: calc(~"7vw + 66.6px");
    }

    .contacts h2::after {
        width: 30px;
        height: 2px;
        left: calc(~"50% - 15px");
    }

    footer {
        display: block;
    }

    .copyright,
    .rights,
    .iters {
        text-align: center;
        width: 100%;
    }

    .copyright,
    .rights,
    .iters-span {
        font-size: calc(~"0.44vw + 8.592px");
        width: 100%;
        margin-left: 0;
    }

    .copyright {
        line-height: calc(~"185% + 4.6vw - 14.72px");
    }

    .iters-span p {
        display: inline-block;
    }

    .iters-first-p {
        margin-left: 20px;
    }

    .iters-second-p {
        padding-right: 0;
    }

    .iters-first-p::after {
        transform: scale(.5);
        top: -55%;
        right: calc(~"4.1vw + 51.88px");
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .bg-about-project {
        min-height: 400px !important;
    }

    #anim-logo {
        top: -196px !important;
        transform: scale(.8) !important;
    }

    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 15px 0 25px 20px !important;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 1.2rem !important;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 20px;
                    height: 20px;
                    top: 22px;
                    left: calc(~"100% - 37px");
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0 20px;

                h4 {
                    font-size: .85rem !important;
                    margin-bottom: 10px;
                }

                div {
                    margin-bottom: 7px;
                    margin-left: 0px !important;
                    font-size: 0.875rem !important;
                }
            }

            .main-contact-adress {
                padding: 1% 0 2.5% 20px;

                h4 {
                    font-size: .85rem !important;
                    margin-bottom: 10px;
                }

                div {
                    font-size: 0.875rem !important;
                    margin-left: 0px !important;
                }
            }
        }
    }

    .burger-menu-pop-up {
        #contacts-burger-menu-pop-up { 
            h1 {
                margin: 15px 0 5px 0 !important;
            }
    
            .main-contact-telephones {
                display: block !important;
    
                div {
                    span {
                        display: inline !important;
                    }
                }
            }
        }
    }

    .pop-up-clients-profile {
        height: 730px !important;
 
        #pop-up-clients-profile-header-wrapper {
            #pop-up-clients-profile-h1 {
                font-size: 1.7rem !important;
            }
        }

        .pop-up-profile-paiment {
            display: block;

            .pop-up-profile-message {
                margin-bottom: 35px !important;
                margin-right: 0 !important;
                text-align: center;
                width: 200px !important;
                margin-left: calc(~"50% - 100px");
            }

            p {
                text-align: center !important;
            }

            .pop-up-profile-paiment-icons {
                width: 100% !important;
                margin-left: calc(~"50% - 52.5px") !important;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .burger-menu-container {
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-left: calc(~"50% - 20px");
    }

    .burger-menu-pop-up {
        left: 10px;
        right: 10px;

        #map {
            width: 100%;
        }

        #contacts-burger-menu-pop-up { 
            position: absolute;
            width: 100%;
            height: 100px;
            top: 0px;
            left: 0;

            h1 {
                font-size: 1.1rem;
                margin: 20px 0 5px 0;
                width: 100%;
            }
    
            .main-contact-telephones {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
    
                h4 {
                    display: none;
                }
    
                div {
                    margin-bottom: 0px;
                    font-size: .75rem;

                    span {
                        display: block;
                    }
                }
            }
    
            .main-contact-adress {
                display: none;
            }
        }
    }

    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;

            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 15px 0 0px 20px;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 1.8rem;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 20px;
                    height: 20px;
                    top: 22px;
                    left: calc(~"100% - 37px");
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    margin-bottom: 7px;
                    font-size: 0.875rem !important;
                }
            }

            .main-contact-adress {
                padding: 1% 0 2.5% 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    font-size: 0.875rem !important;
                }
            }
        }
    }

    .pop-up-clients-profile {
        left: 5%;
        right: 5%;
        top: 10px;
        height: 630px;
        z-index: 10000;

        #pop-up-clients-profile-header-wrapper {
            #pop-up-clients-profile-h1 {
                font-size: 2.5rem;
                padding: 48px 0 0px 0px;
                text-align: center;
            }

            .close-clients-profile-pop-up {
                width: 20px;
                height: 20px;
                left: calc(~"100% - 42px");
                top: 22px;
            }
        }

        .clients-profile-auth-descr {
            padding: 10px 20px 20px 20px;
            font-size: 1rem;
            text-align: center;
        }

        .pop-up-profile-items {
            padding-left: 0px;
            justify-content: space-around;
            text-align: center;

            .pop-up-profile-item {
                margin-bottom: 25px;
                width: 100%;
                display: block;

                p {
                    font-size: .75rem;
                    width: 100%;
                }
            }
        }

        .pop-up-profile-paiment {
            padding-left: 0px;
            margin-top: 0px;
            justify-content: center;

            .pop-up-profile-message {
                margin-bottom: 5px;
                
                p {
                    padding: 20px 20px;
                }
            }

            .pop-up-profile-paiment-types {
                .pop-up-profile-paiment-icons {
                    margin-top: 5px;
                }
            }
        }
    }

    .wrap {
        margin: 10px 10px 0 10px;
    }

    .header {
        width: calc(~"100% - 60px");
        margin: 5% 30px 0 30px;
    }

    .logo {
        margin-top: 0;
    }
    
    .logo img {
        height: calc(~"6.03vw + 15.704px");
    }

    #log-in-link {
        font-size: 0;
        width: calc(~"6.03vw + 17.704px");
        height: calc(~"6.03vw + 15.704px");
    }

    .log-in-icon {
        transform: scale(0.8);
        top: calc(~"2.93vw - 3.376px");
        left: calc(~"2.93vw + 1.624px");
    }

    .languages {
        margin-top: 0;
    }

    .languages a {
        font-size: 12px;
        line-height: 10px;
        padding-top: 20%;
    }

    .wrap-burger-menu {
        left: calc(~"51vw - 35.44px");
    }

    .burger-menu-container {
        margin-top: 0px;
    }

    .burger-menu-lines {
        width: calc(~"3.27vw + 10.536px");
    }

    .burger-menu-lines::before {
        top: calc(~"-0.5vw - 6.16px");
        width: calc(~"3.27vw + 10.536px");
    }

    .burger-menu-lines::after {
        top: calc(~"0.5vw + 6.16px");
        width: calc(~"3.27vw + 10.536px");
    }

    .promo-block h1 {
        margin-left: 19%;
        padding-top: 30%;
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 50px;
    }

    .wrap-slider-one {
        margin: 0 0 5% 0;
    }

    .about-project {
        left: 51%;
    }

    .bg-about-project {
        min-height: 500px;
    }

    .bg-about-project h1 {
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 32px;
        padding-left: 15%;
        padding-top: 35%;
        padding-bottom: 45%;
    }

    .promo-block p {
        margin-left: 19%;
        font-size: calc(6vw - 2rem);
    }

    .wrap-items-main {
        flex-wrap: wrap;
        padding: 10px 10px 0 10px;
    }

    .management,
    .marketing {
        width: 100%;
        margin: 0 0 10% 0;
    }

    #gear-icon, 
    #chess-icon {
        transform: scale(.5);
    }

    .item-main {
        box-sizing: border-box;
    }

    .item-main-info {
        width: 80%;
        height: calc(~"7.59vw + 95.712px");
        bottom: calc(~"-1.26vw - 15.968px");
    }

    #managment-control,
    #marketing-control {
        font-size: calc(~"0.696vw + 10.7728px");
    }

    .main-info-descr {
        font-size: calc(~"0.44vw + 8.592px");
        line-height: calc(~"95% + 2vw - 1.6px");
    }

    .about-company {
        padding-left: calc(~"45.8vw - 36.56px");
        padding-right: calc(~"45.8vw - 36.56px");
    }

    .about-project a,
    .about-company a,
    .write-us a {
        height: 33px;
        padding-top: 7px;
        line-height: 18px;
        font-size: calc(~"0.44vw + 8.592px");
    }

    .bg-logo {
        margin-top: calc(~"5.69vw - 11.792px");
    }

    #anim-logo {
        top: -230px;
        transform: scale(.6);
    }

    .bg-logo h2 {
        font-size: calc(~"1.45vw + 12.36px");
        padding: 5% 25px 0 25px;
        line-height: calc(~"140% + 1.58vw - 5.056px");
    }

    .side-arrow-icon,
    .about-project-icon,
    .write-us-icon {
        transform: scale(.5);
    }

    .about-project {
        width: 100px;
        height: 33px;
        left: 52%;
    }

    .about-project-next,
    .about-project-prev {
        width: 33px;
        height: 33px;
        left: 7.3%;
        border: 1px solid rgb(256,256,256);
        box-sizing: border-box;
    }

    .about-project-next {
        left: 19%;
    }

    #about-project-pop-up {
        top: 10px;
        right: 10px;
        width: 95%;
    }

    #about-project-pop-up h1 {
        font-size: calc(~"3.8vw + 9.84px");
    }

    .pop-up-close-icon {
        right: calc(~"3.6vw - 4.52px");
        top: calc(~"3.7vw - 17.84px");
        width: calc(~"2.5vw + 12px");
    }

    #about-project-pop-up span {
        width: 90%;
        font-size: calc(~"0.5vw + 12.4px");
    }

    #pop-up-project-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 16px 35px 17px 7px;
    }

    #pop-up-project-btn::after {
        top: 23px;
        right: 9px;
    }

    #pop-up-account-btn::after {
        transform: scale(.6);
    }

    #pop-up-account-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 16px 30px 17px 30px;
    }

    #pop-up-account-btn, 
    #pop-up-project-btn {
        margin-top: 5%;
        padding-bottom: 0;
    }

    .black-rectangle {
        padding-top: calc(~"2.4vw + 17.32px");
        padding-left: calc(~"1.58vw + 29.944px");
    }

    .black-rectangle a {
        font-size: calc(~"0.5vw + 14.4px");
        line-height: calc(~"140% + 0.6vw - 1.92px");
    }

    .current-date {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .wrap-contacts {
        margin-top: calc(~"16vw - 115px");
    }

    .contacts h2,
    .email-link,
    .tel-link {
        font-size: calc(~"1.3vw + 13.84px");
        line-height: calc(~"140% + 1.5vw - 4.8px");
    }

    .write-us {
        padding-left: calc(~"7vw + 66.6px");
        padding-right: calc(~"7vw + 66.6px");
    }

    .contacts h2::after {
        width: 30px;
        height: 2px;
        left: calc(~"50% - 15px");
    }

    footer {
        display: block;
    }

    .copyright,
    .rights,
    .iters {
        text-align: center;
        width: 100%;
    }

    .copyright,
    .rights,
    .iters-span {
        font-size: calc(~"0.44vw + 8.592px");
        width: 100%;
        margin-left: 0;
    }

    .copyright {
        line-height: calc(~"185% + 4.6vw - 14.72px");
    }

    .iters-span p {
        display: inline-block;
    }

    .iters-first-p {
        margin-left: 20px;
    }

    .iters-second-p {
        padding-right: 0;
    }

    .iters-first-p::after {
        transform: scale(.5);
        top: -55%;
        right: calc(~"4.1vw + 51.88px");
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .burger-menu-container {
        margin-top: 10px !important;
        margin-right: -4% !important;
    }

    .burger-menu-pop-up {  
        #contacts-burger-menu-pop-up {  
            h1 {
                margin-bottom: 15px;
                margin-top: 34px;
                font-size: 2.3rem;
            }
    
            .main-contact-telephones {
                padding: 3% 0;
    
                h4 {
                    font-size: 1.1rem;
                    margin-bottom: 15px;
                }
    
                div {
                    margin-bottom: 10px;
                    font-size: 1rem;
                }
            }
    
            .main-contact-adress {
                padding: 3% 0;
    
                h4 {
                    font-size: 1.1rem;
                    margin-bottom: 15px;
                }
    
                div {
                    margin-bottom: 40px;
                    font-size: 1rem;
                }
            }
        }
    }
    
    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            top: 20px;
            left: 20px;
            right: 20px;

            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 15px 0 0px 20px;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 1.8rem;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 20px;
                    height: 20px;
                    top: 22px;
                    left: calc(~"100% - 37px");
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    margin-bottom: 7px;
                    font-size: 0.875rem !important;
                }
            }

            .main-contact-adress {
                padding: 1% 0 2.5% 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    font-size: 0.875rem !important;
                }
            }
        }
    }

    .pop-up-clients-profile {
        left: 5%;
        right: 5%;
        top: 35px;
        height: 45%;
        z-index: 10000;

        #pop-up-clients-profile-header-wrapper {
            #pop-up-clients-profile-h1 {
                font-size: 2.5rem;
                padding: 25px 0 25px 25px;
            }

            .close-clients-profile-pop-up {
                width: 40px;
                height: 40px;
                left: calc(~"100% - 66px");
                top: 22px;
            }
        }

        .clients-profile-auth-descr {
            padding-left: 30px;
            padding-bottom: 25px;
        }

        .pop-up-profile-items {
            padding-left: 30px;

            .pop-up-profile-item {
                margin-bottom: 25px;

                p {
                    font-size: .75rem;
                }
            }
        }

        .pop-up-profile-paiment {
            padding-left: 30px;
            margin-top: 0px;

            .pop-up-profile-message {
                p {
                    padding: 20px 20px;
                }
            }
        }
    }

    .header {
        margin-top: 5%;
    }

    .logo {
        margin-top: 0;
    }

    .logo-img {
        height: calc(~"6.03vw + 15.704px");
    }

    .languages {
        margin-top: 0;
    }

    #log-in-link {
        font-size: 0;
        width: calc(~"6.03vw + 17.704px");
        height: calc(~"6.03vw + 15.704px");
    }

    .log-in-icon {
        top: calc(~"2.93vw - 3.376px");
        left: calc(~"2.93vw + 1.624px");
    }

    .wrap-burger-menu {
        left: calc(~"51vw - 35.44px");
    }

    .burger-menu-lines {
        width: calc(~"3.27vw + 10.536px");
    }

    .burger-menu-lines::before {
        top: calc(~"-1.2vw - 6.16px");
        width: calc(~"3.27vw + 10.536px");
    }

    .burger-menu-lines::after {
        top: calc(~"1.1vw + 6.16px");
        width: calc(~"3.27vw + 10.536px");
    }

    .promo-block h1 {
        margin-left: 18.5%;
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 55px;
    }

    .bg-about-project h1 {
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 55px;
    }

    .promo-block p {
        margin-left: 18.8%;
    }

    .wrap-items-main {
        flex-wrap: wrap;
    }

    .management,
    .marketing {
        width: 100%;
        margin: 0 0 10% 0;
    }

    #gear-icon, 
    #chess-icon {
        transform: scale(.7);
    }

    .item-main {
        box-sizing: border-box;
        margin-bottom: 10%;
    }

    .item-main-info {
        width: 80%;
        height: calc(~"7.59vw + 95.712px");
        bottom: calc(~"-1.26vw - 15.968px");
    }

    #managment-control,
    #marketing-control {
        font-size: calc(~"0.696vw + 10.7728px");
    }

    .main-info-descr {
        font-size: calc(~"0.44vw + 8.592px");
        line-height: calc(~"95% + 1.5vw - 1.6px");
    }

    .bg-logo {
        margin-top: calc(~"5.69vw - 11.792px");
    }

    #anim-logo {
        top: -133px;
        transform: scale(.6);
    }

    .bg-logo h2 {
        font-size: calc(~"1.45vw + 12.36px");
        line-height: calc(~"140% + 1.58vw - 5.056px");
    }

    .about-company {
        padding-left: calc(~"45.8vw - 36.56px");
        padding-right: calc(~"45.8vw - 36.56px");
    }

    .about-project a,
    .about-company a,
    .write-us a {
        height: 50px;
        padding-top: 16px;
        line-height: 18px;
        font-size: calc(~"0.44vw + 8.592px");
    }

    .side-arrow-icon,
    .about-project-icon,
    .write-us-icon {
        transform: scale(.7);
    }

    .about-project {
        width: 155px;
        height: 50px;
    }

    .about-project-next,
    .about-project-prev {
        width: 50px;
        height: 50px;
        left: 7.3%;
        border: 1px solid rgb(256,256,256);
        box-sizing: border-box;
    }

    .about-project-next {
        left: 19%;
    }

    #about-project-pop-up {
        width: 67%;
        top: 20px;
        right: 20px;
    }

    #about-project-pop-up h1 {
        font-size: calc(~"3.8vw + 9.84px");
    }

    .pop-up-close-icon {
        right: calc(~"3.6vw - 4.52px");
        top: calc(~"3.7vw - 17.84px");
        width: calc(~"2.5vw + 12px");
    }

    #about-project-pop-up span {
        width: 90%;
        font-size: calc(~"0.5vw + 12.4px");
    }

    #pop-up-project-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 16px 41px 17px 13px;
    }

    #pop-up-project-btn::after {
        top: 23px;
        right: 13px;
    }

    #pop-up-account-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 16px 36px 17px 36px;
    }

    #pop-up-account-btn, 
    #pop-up-project-btn {
        margin-top: 15%;
    }

    .black-rectangle {
        padding-top: calc(~"2.4vw + 17.32px");
        padding-left: calc(~"1.58vw + 29.944px");
    }

    .black-rectangle a {
        font-size: calc(~"0.5vw + 14.4px");
        line-height: calc(~"140% + 0.6vw - 1.92px");
    }

    .current-date {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .wrap-contacts {
        margin-top: calc(~"25vw - 210px");
    }

    .contacts h2,
    .email-link,
    .tel-link {
        font-size: calc(~"1.3vw + 13.84px");
        line-height: calc(~"140% + 1.5vw - 4.8px");
    }

    .write-us {
        padding-left: calc(~"7vw + 66.6px");
        padding-right: calc(~"7vw + 66.6px");
    }

    .contacts h2::after {
        width: 40px;
        height: 2.5px;
        left: calc(~"50% - 20px");
    }

    .copyright,
    .rights,
    .iters-span {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .iters-span {
        padding-left: 0;
    }

    .iters-first-p::after {
        right: calc(~"3.3vw + 65.2px");
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .burger-menu-pop-up {  
        #contacts-burger-menu-pop-up {  
            h1 {
                margin-bottom: 30px;
                margin-top: 100px;
                font-size: 3rem;
            }
    
            .main-contact-telephones {
                padding: 3% 0;
    
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 25px;
                }
    
                div {
                    margin-bottom: 10px;
                    font-size: 1.2rem;
                }
            }
    
            .main-contact-adress {
                padding: 3% 0;
    
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 25px;
                }
    
                div {
                    margin-bottom: 40px;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            top: 20px ;
            left: 20px;
            right: 20px;
            bottom: 20px;
            
            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 15px 0 0px 20px;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 1.8rem;
                    width: 90%;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 20px;
                    height: 20px;
                    top: 22px;
                    left: calc(~"100% - 37px");
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    margin-bottom: 7px;
                    font-size: 0.875rem !important;
                }
            }

            .main-contact-adress {
                padding: 2.5% 0 2.5% 20px;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                div {
                    font-size: 0.875rem !important;
                }
            }
        }
    }

    .pop-up-clients-profile {
        left: 5%;
        right: 5%;
        top: 35px;
        height: 530px;
        z-index: 10000;

        #pop-up-clients-profile-header-wrapper {
            #pop-up-clients-profile-h1 {
                font-size: 3rem;
                padding: 25px 0 25px 25px;
            }

            .close-clients-profile-pop-up {
                width: 40px;
                height: 40px;
                left: calc(~"100% - 66px");
                top: 22px;
            }

            .clients-profile-auth-descr {
                padding-left: 30px;
                padding-bottom: 25px;
            }

            .pop-up-profile-items {
                padding-left: 30px;
            }

            .pop-up-profile-paiment {
                padding-left: 30px;
                margin-top: 0px;
            }
        }
    }

    .promo-block h1 {
        margin-left: 31.5%;
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 65px;
    }

    .bg-about-project h1 {
        font-size: calc(~"2.21vw + 27.928px");
        line-height: 65px;
    }

    .promo-block p {
        margin-left: 31.8%;
    }

    #gear-icon, 
    #chess-icon {
        transform: scale(.7);
    }

    .item-main-info {
        width: 80%;
        height: calc(~"7.59vw + 95.712px");
        bottom: calc(~"-1.26vw - 15.968px");
    }

    #managment-control,
    #marketing-control {
        font-size: calc(~"0.696vw + 10.7728px");
    }

    .main-info-descr {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .bg-logo {
        margin-top: calc(~"5.69vw - 11.792px");
    }

    #anim-logo {
        transform: scale(.9);
    }

    .bg-logo h2 {
        font-size: calc(~"1.45vw + 12.36px");
    }

    .about-company {
        padding-left: calc(~"45.8vw - 36.56px");
        padding-right: calc(~"45.8vw - 36.56px");
    }

    .about-project a,
    .about-company a,
    .write-us a {
        height: 55px;
        padding-top: 18px;
        line-height: 18px;
        font-size: calc(~"0.44vw + 8.592px");
    }

    .side-arrow-icon,
    .about-project-icon,
    .write-us-icon {
        transform: scale(.9);
    }

    .about-project {
        height: 55px;
        width: 175px;
    }

    .about-project-next,
    .about-project-prev {
        width: 55px;
        height: 55px;
        left: 7.3%;
        border: 1px solid rgb(256,256,256);
        box-sizing: border-box;
    }

    .about-project-next {
        left: 19%;
    }

    #about-project-pop-up {
        width: 67%;
        top: 20px;
        right: 20px;
    }

    #about-project-pop-up h1 {
        font-size: calc(~"3.8vw + 9.84px");
    }

    .pop-up-close-icon {
        right: calc(~"3.6vw - 4.52px");
        top: calc(~"3.7vw - 17.84px");
        width: calc(~"2.5vw + 12px");
    }

    #about-project-pop-up span {
        width: 90%;
        font-size: calc(~"0.5vw + 12.4px");
    }

    #pop-up-project-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 20px 50px 21px 21px;
    }

    #pop-up-project-btn::after {
        top: 23px;
        right: 22px;
    }

    #pop-up-account-btn a {
        font-size: calc(~"0.44vw + 8.592px");
        padding: 20px 48px 21px 48px;
    }

    #pop-up-account-btn, 
    #pop-up-project-btn {
        margin-top: 17%;
    }

    .black-rectangle {
        padding-top: calc(~"2.4vw + 17.32px");
        padding-left: calc(~"1.58vw + 29.944px");
    }

    .black-rectangle a {
        font-size: calc(~"0.5vw + 14.4px");
        line-height: calc(~"140% + 0.6vw - 1.92px");
    }

    .current-date {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .contacts h2,
    .email-link,
    .tel-link {
        font-size: calc(~"1.3vw + 13.84px");
        line-height: calc(~"140% + 1.5vw - 4.8px");
    }

    .write-us {
        padding-left: calc(~"7vw + 66.6px");
        padding-right: calc(~"7vw + 66.6px");
    }

    .contacts h2::after {
        width: 50px;
        height: 3px;
        left: calc(~"50% - 25px");
    }

    .copyright,
    .rights,
    .iters span {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .iters-first-p::after {
        right: calc(~"3.3vw + 65.3px");
    }
}

@media screen and (min-width: 1201px) and (max-width: 1800px) {
    .promo-block h1,
    .bg-about-project h1 {
        font-size: calc(~"2.21vw + 27.928px");
        line-height: calc(~"140% + 1.58vw - 5.056px");
    }

    .item-main-info {
        height: calc(~"7.59vw + 95.712px");
        bottom: calc(~"-1.26vw - 15.968px");
    }

    #managment-control,
    #marketing-control {
        font-size: calc(~"0.696vw + 10.7728px");
    }

    .main-info-descr {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .bg-logo {
        margin-top: calc(~"5.69vw - 11.792px");
    }

    .bg-logo h2 {
        font-size: calc(~"1.45vw + 12.36px");
        line-height: calc(~"140% + 1.58vw - 5.056px");
    }

    .about-company {
        padding-left: calc(~"45.8vw - 36.56px");
        padding-right: calc(~"45.8vw - 36.56px");
    }

    .about-project a,
    .about-company a,
    .write-us a {
        height: 65px;
        padding-top: 23px;
        line-height: 18px;
        font-size: calc(~"0.44vw + 8.592px");
    }

    .about-project {
        height: 65px;
        width: 175px;
    }

    .about-project-next,
    .about-project-prev {
        width: 65px;
        height: 65px;
        left: 7.3%;
        border: 1px solid rgb(256,256,256);
        box-sizing: border-box;
    }

    .about-project-next {
        left: 19%;
    }

    #about-project-pop-up h1 {
        font-size: calc(~"3.8vw + 9.84px");
    }

    .pop-up-close-icon {
        right: calc(~"3.6vw - 4.52px");
        top: calc(~"3.7vw - 17.84px");
        width: calc(~"2.5vw + 12px");
    }

    #about-project-pop-up span {
       font-size: calc(~"0.5vw + 12.4px");
    }

    .black-rectangle {
        padding-top: calc(~"2.4vw + 17.32px");
        padding-left: calc(~"1.58vw + 29.944px");
    }

    .black-rectangle a {
        font-size: calc(~"0.5vw + 14.4px");
        line-height: calc(~"140% + 0.6vw - 1.92px");
    }

    .current-date {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .contacts h2,
    .email-link,
    .tel-link {
        font-size: calc(~"1.3vw + 13.84px");
        line-height: calc(~"140% + 1.5vw - 4.8px");
    }

    .write-us {
        padding-left: calc(~"7vw + 66.6px");
        padding-right: calc(~"7vw + 66.6px");
    }

    .copyright,
    .rights,
    .iters span {
        font-size: calc(~"0.44vw + 8.592px");
    }

    .iters-first-p::after {
        right: calc(~"4.1vw + 51.88px");
    }
}

// Top profile pop up and burger menu pop up

@media screen and (min-width: 1201px) and (max-width: 1550px) {
    .pop-up-clients-profile {
        #pop-up-clients-profile-header-wrapper {
            #pop-up-clients-profile-h1 {
                font-size: 3rem;
            }

            .close-clients-profile-pop-up {
                width: 40px;
                height: 40px;
                left: calc(~"100% - 66px");
                top: 22px;
            }
        }
    }

    .burger-menu-pop-up {  
        #contacts-burger-menu-pop-up {  
            h1 {
                margin-bottom: 50px;
                margin-top: 100px;
            }
    
            .main-contact-telephones {
                padding: 3% 0;
               
                h4 {
                    font-size: 2rem;
                    margin-bottom: 25px;
                }
    
                div {
                    margin-bottom: 20px;
                    font-size: 1.5rem;
                }
            }
    
            .main-contact-adress {
                padding: 3% 0;
    
                h4 {
                    font-size: 2rem;
                    margin-bottom: 25px;
                }
    
                div {
                    margin-bottom: 40px;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// Marketing and managment pop up

@media screen and (min-width: 901px) and (max-width: 1050px) {
    .item-main {
        .pop-up-managment,
        .pop-up-marketing {
            .main-contact-telephones {
                h4 {
                    margin-bottom: 5px;
                }

                div {
                    font-size: .8rem !important;
                    margin-bottom: 0 !important;
                }
            }

            .main-contact-adress {
                h4 {
                    margin-bottom: 5px;
                }

                div {
                    font-size: .8rem !important;
                }
            }
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            
            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 15px 0 0px 20px;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 2.4rem;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 30px;
                    height: 30px;
                    left: calc(~"100% - 52px");
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0 20px;

                h4 {
                    font-size: 1.2rem;
                    margin-bottom: 20px;
                }

                div {
                    margin-bottom: 7px;
                }
            }

            .main-contact-adress {
                padding: 2.5% 0 2.5% 20px;

                h4 {
                    font-size: 1.2rem;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
    .item-main {
        .pop-up-marketing,
        .pop-up-managment {
            #pop-up-marketing-header-wrapper,
            #pop-up-managment-header-wrapper {
                padding: 25px 0 0px 30px;

                #pop-up-marketing-h1,
                #pop-up-managment-h1 {
                    font-size: 2.5rem;
                }

                .close-marketing-pop-up,
                .close-managment-pop-up {
                    width: 40px;
                    height: 40px;
                }
            }

            .main-contact-telephones {
                padding: 2% 0 0% 30px;

                div {
                    margin-bottom: 7px;
                }
            }
        }
    }
}

@media screen and (min-width: 1401px) and (max-width: 1800px) {
    .item-main {
        .pop-up-managment {
            #pop-up-managment-header-wrapper {
                padding: 25px 0 0px 30px;

                #pop-up-managment-h1 {
                    width: 90%;
                }
            }

            .main-contact-telephones {
                padding: 2% 0 1% 30px;
            }

            .main-contact-adress {
                padding: 0% 0 2.5% 30px;

                h4 {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 1801px) {
    .item-main {
        .pop-up-managment {
            #pop-up-managment-header-wrapper {
                padding: 25px 0 0px 30px;

                #pop-up-managment-h1 {
                    width: 90%;
                }
            }
        }
    }

    .promo-block h1,
    .bg-about-project h1 {
        line-height: 80px;
        font-size: 3.889rem;
    }

    .item-main-info {
        height: 240px;
        bottom: -40px;
    }
    
    #managment-control,
    #marketing-control {
        font-size: 1.333rem;
    }

    .main-info-descr {
        font-size: .9444rem;
        line-height: 25px;
    }

    .bg-logo h2 {
        font-size: 2.222rem;
        line-height: 50px;
    }

    .about-company {
        padding-left: calc(~"45.8vw - 36.56px");
        padding-right: calc(~"45.8vw - 36.56px");
    }

    .write-us {
        padding-left: calc(~"7vw + 66.6px");
        padding-right: calc(~"7vw + 66.6px");
    }

    .tel-link {
        padding-top: 40px;
    }
}